* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none !important;
}

.theme {
  --text: #191716;
  --bg: #F1F3F8;
}
.theme--dark {
  --text: #F1F3F8;
  --bg: #191716;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg);
}
.container header {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container header h1 {
  margin-left: 2rem;
  color: var(--text);
}
.container .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}
.container .navbar .nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.container .navbar .nav-menu li {
  list-style: none;
  margin: 0 0.5rem 0 0.5rem;
  width: 6rem;
  display: flex;
  justify-content: center;
}
.container .navbar .nav-menu li button {
  padding: 0.5rem 1rem;
  background: #F4A259;
  border: none;
  border-radius: 30px;
  width: 100%;
}
.container .navbar .nav-menu li a {
  color: var(--text);
  text-decoration: none;
}
.container .navbar .hamburger {
  display: none;
  cursor: pointer;
}
.container .navbar .hamburger span {
  width: 2rem;
  background-color: var(--text);
  height: 0.3rem;
  margin: 4px;
  border-radius: 20%;
}
.container .index {
  height: 95vh;
}
.container footer {
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}
.container footer #theme {
  margin-right: 1rem;
  height: 1.5rem;
  width: 2.5rem;
  border: 3px solid var(--text);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
}
.container footer #theme #light {
  background: #F1F3F8;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 100%;
}
.container footer #theme #dark {
  background: #191716;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 100%;
}

@media (max-width: 700px) {
  .hamburger {
    display: flex !important;
    flex-direction: column;
    z-index: 40;
  }
  .hamburger.active span {
    background-color: var(--bg) !important;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column !important;
    width: 100% !important;
    height: 100vh;
    transition: 0.3s;
  }
  .nav-item {
    width: 11rem !important;
  }
  .nav-item .nav-link {
    color: var(--bg) !important;
    font-size: 40px;
    font-weight: 600;
    z-index: 3;
  }
  .nav-menu.active {
    left: 0 !important;
    top: 0 !important;
    z-index: 10;
    background-color: var(--text);
  }
}
.news-container div {
  position: relative;
}
.news-container div .contenedor {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
.news-container div .contenedor button {
  background-color: #F4A259;
  width: 3rem;
  height: 2rem;
  border-radius: 100%;
  border: none;
}
.news-container div .contenedor button a {
  text-decoration: none;
  color: #191716;
  font-size: 16px;
}
.news-container div .contenedor .noticias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 30rem;
  width: 55rem;
}
.news-container div .contenedor .noticias .noticia {
  margin: 1rem;
  width: 13rem;
  height: 13rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1rem;
}
.news-container div .contenedor .noticias .noticia #id_news {
  background: black;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-container div .contenedor .noticias .noticia #id_news p {
  color: white;
  font-size: 12px;
}
.news-container div .new {
  position: absolute;
  bottom: 2%;
  right: 1%;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 15rem;
  background: var(--text);
  border-radius: 15px;
}
.news-container div .new form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  width: 100%;
}
.news-container div .new form h3 {
  color: var(--bg);
}
.news-container div .new form div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-container div .new form div input {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 15px;
  width: 80%;
}
.news-container div .new form input {
  padding: 0.5rem 1rem;
  background-color: #F1F3F8;
  border-radius: 15px;
  border: none;
}
.news-container div .new form #submit {
  background-color: #F4A259;
}
.news-container div .bot {
  position: absolute;
  border: none;
  bottom: 0%;
  right: 0%;
  padding: 1rem;
}
.news-container div .bot button {
  border: none;
  background-color: var(--text);
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  color: var(--bg);
  font-size: 20px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */